/* 정렬 */

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre-wrap;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.inline-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre-wrap;
}

/* 스페이싱 */

.sph-small {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

.sph-medium {
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
}

.sph-large {
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
}

.sph-xLarge {
    padding-left: var(--padding-xlarge);
    padding-right: var(--padding-xlarge);
}

.spv-small {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.spv-medium {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);
}

.spv-large {
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-large);
}

.spv-xLarge {
    padding-top: var(--padding-xlarge);
    padding-bottom: var(--padding-xlarge);
}

.spt-small {
    padding-top: var(--padding-small);
}

.spt-medium {
    padding-top: var(--padding-medium);
}

.spt-large {
    padding-top: var(--padding-large);
}

.spt-xLarge {
    padding-top: var(--padding-xlarge);
}

.spb-small {
    margin-bottom: var(--padding-small);
}

.spb-medium {
    margin-bottom: var(--padding-medium);
}

.spb-large {
    margin-bottom: var(--padding-large);
}

.spb-xLarge {
    margin-bottom: var(--padding-xlarge);
}

.padding-vertical-small {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.padding-vertical-medium {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);
}

.padding-vertical-large {
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-large);
}

/* 텍스트 크기 */
.text-h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-h3 {
    font-size: var(--font-size-h3);
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-h4 {
    font-size: var(--font-size-h4);
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-h5 {
    font-size: var(--font-size-h5);
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-body1 {
    font-size: var(--font-size-body1);
    font-family: 'Noto Sans KR', sans-serif;
}

.text-body2 {
    font-size: var(--font-size-body2);
    font-family: 'Noto Sans KR', sans-serif;
}

.text-caption {
    font-size: var(--font-size-caption);
    font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 768px) {

    .text-h1 {
        font-size: var(--font-size-h1-mobile);
        font-weight: 700;
    }

    .text-h2 {
        font-size: var(--font-size-h2-mobile);
        font-weight: 700;
    }

    .text-h3 {
        font-size: var(--font-size-h3-mobile);
        font-weight: 700;
    }

    .text-h4 {
        font-size: var(--font-size-h4-mobile);
        font-weight: 700;
    }

    .text-h5 {
        font-size: var(--font-size-h5-mobile);
        font-weight: 700;
    }

    .text-body1 {
        font-size: var(--font-size-body1-mobile);
    }

    .text-body2 {
        font-size: var(--font-size-body2-mobile);
    }

    .text-caption {
        font-size: var(--font-size-caption-mobile);
    }
}

.text-line-through {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.text-line-break {
    white-space: pre-wrap;
}

.text-line-height-small {
    line-height: 1.2;
}

.text-line-height-medium {
    line-height: 1.5;
}

.text-line-height-large {
    line-height: 1.7;
}



/* 텍스트 정렬 */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* 텍스트 두께 */
.text-bold {
    font-weight: 700;
}

.text-semi-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-normal {
    font-weight: 400;
}

/* 텍스트 색상 */

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-tertiary {
    color: var(--color-tertiary);
}

.text-positive {
    color: var(--color-text-green);
}

.text-negative {
    color: var(--color-text-red);
}