/* 정렬 */

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre-wrap;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: pre-wrap;
}

.row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: pre-wrap;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: pre-wrap;
}

.inline-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre-wrap;
}

/* 스페이싱 */

.spx-8 {
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
}

.spx-16 {
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
}

.spx-32 {
    padding-left: var(--spacing-32);
    padding-right: var(--spacing-32);
}

.spx-64 {
    padding-left: var(--spacing-64);
    padding-right: var(--spacing-64);
}

.spy-8 {
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-8);
}

.spy-16 {
    padding-top: var(--spacing-16);
    padding-bottom: var(--spacing-16);
}

.spy-32 {
    padding-top: var(--spacing-32);
    padding-bottom: var(--spacing-32);
}

.spy-64 {
    padding-top: var(--spacing-64);
    padding-bottom: var(--spacing-64);
}

.spt-8 {
    padding-top: var(--spacing-8);
}

.spt-16 {
    padding-top: var(--spacing-16);
}

.spt-24 {
    padding-top: var(--spacing-24);
}

.spt-32 {
    padding-top: var(--spacing-32);
}

.spt-48 {
    padding-top: var(--spacing-48);
}

.spt-64 {
    padding-top: var(--spacing-64);
}

.spt-128 {
    padding-top: var(--spacing-128);
}

.spb-4 {
    margin-bottom: var(--spacing-4);
}

.spb-8 {
    margin-bottom: var(--spacing-8);
}

.spb-16 {
    margin-bottom: var(--spacing-16);
}

.spb-24 {
    margin-bottom: var(--spacing-24);
}

.spb-32 {
    margin-bottom: var(--spacing-32);
}

.spb-36 {
    margin-bottom: var(--spacing-36);
}

.spb-40 {
    margin-bottom: var(--spacing-40);
}

.spb-48 {
    margin-bottom: var(--spacing-48);
}

.spb-64 {
    margin-bottom: var(--spacing-64);
}

.spr-4 {
    margin-right: var(--spacing-4);
}

.spr-8 {
    margin-right: var(--spacing-8);
}

.spr-16 {
    margin-right: var(--spacing-16);
}

.spr-24 {
    margin-right: var(--spacing-24);
}

.spr-32 {
    margin-right: var(--spacing-32);
}

.spr-40 {
    margin-right: var(--spacing-40);
}

.spr-48 {
    margin-right: var(--spacing-48);
}

.spl-4 {
    margin-left: var(--spacing-4);
}

.spl-8 {
    margin-left: var(--spacing-8);
}

.spl-16 {
    margin-left: var(--spacing-16);
}

.spl-24 {
    margin-left: var(--spacing-24);
}

.spl-32 {
    margin-left: var(--spacing-32);
}

.spl-40 {
    margin-left: var(--spacing-40);
}

.spl-48 {
    margin-left: var(--spacing-48);
}

/* 텍스트 크기 */
.text-h1 {
    font-size: var(--font-size-h48);
    font-weight: 700;
    line-height: 64px;
}

.text-h2 {
    font-size: var(--font-size-h40);
    font-weight: 700;
    line-height: 56px;
}

.text-h3 {
    font-size: var(--font-size-h32);
    font-weight: 600;
    line-height: 46px;
}

.text-h4 {
    font-size: var(--font-size-h28);
    font-weight: 600;
    line-height: 40px;
}

.text-h5 {
    font-size: var(--font-size-h24);
    font-weight: 600;
    line-height: 34px;
}

.text-h6 {
    font-size: var(--font-size-h20);
    font-weight: 600;
    line-height: 28px;
}

.text-h7 {
    font-size: var(--font-size-h18);
    font-weight: 600;
    line-height: 26px;
}

.text-body1 {
    font-size: var(--font-size-body16);
    line-height: 24px;
}

.text-body2 {
    font-size: var(--font-size-body14);
    line-height: 20px;
}

.text-caption {
    font-size: var(--font-size-caption12);
    line-height: 16px;
}

.dv-hori-1 {
    width: 100%;
    height: 1px;
    background-color: var(--color-border-primary);
}

@media (max-width: 768px) {

    .text-h1 {
        font-size: var(--font-size-h32);
        font-weight: 700;
        line-height: 46px;
    }

    .text-h2 {
        font-size: var(--font-size-h24);
        font-weight: 700;
        line-height: 34px;
    }

    .text-h3 {
        font-size: var(--font-size-h20);
        font-weight: 600;
        line-height: 28px;
    }

    .text-h4 {
        font-size: var(--font-size-h18);
        font-weight: 600;
        line-height: 26px;
    }

    .text-h5 {
        font-size: var(--font-size-body16);
        font-weight: 600;
        line-height: 24px;
    }

    .text-h6 {
        font-size: var(--font-size-body14);
        font-weight: 600;
        line-height: 20px;
    }

    .text-h7 {
        font-size: var(--font-size-body14);
        font-weight: 600;
        line-height: 20px;
    }

    .text-body1 {
        font-size: var(--font-size-body16);
        line-height: 24px;
    }

    .text-body2 {
        font-size: var(--font-size-body14);
        line-height: 20px;
    }

    .text-caption {
        font-size: var(--font-size-caption10);
    }
}

.text-line-through {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.text-line-break {
    white-space: pre-wrap;
}


.line-height-64 {
    line-height: 64px;
}

.line-height-56 {
    line-height: 56px;
}

.line-height-48 {
    line-height: 48px;
}

.line-height-34 {
    line-height: 34px;
}

.line-height-32 {
    line-height: 32px;
}

.line-height-28 {
    line-height: 28px;
}

.line-height-24 {
    line-height: 24px;
}

.line-height-20 {
    line-height: 20px;
}

.line-height {
    line-height: 18px;
}

.line-height-16 {
    line-height: 16px;
}


.text-line-height-small {
    line-height: 1.2;
}

.text-line-height-medium {
    line-height: 1.5;
}

.text-line-height-large {
    line-height: 1.7;
}


/* 텍스트 정렬 */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* 텍스트 두께 */
.text-bold {
    font-weight: 700;
}

.text-semi-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-normal {
    font-weight: 400;
}

/* 텍스트 색상 */

.text-primary {
    color: var(--color-text-priamry);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-tertiary {
    color: var(--color-text-tertiary);
}

.text-positive {
    color: var(--color-text-green);
}

.text-blue {
    color: var(--color-text-blue);
}

.text-red {
    color: var(--color-text-red);
}