:root {
    /* 미디어 쿼리 */
    --breakpoint-mobile: 768px;
    --breakpoint-tablet: 960px;
    --breakpoint-desktop: 1280px;

    /* 크기 변수 */
    --app-bar-height-desktop: 64px;
    --app-bar-height-mobile: 56px;
    --padding-default: 16px;

    /* 폰트 크기 */
    --font-size-h1: 4rem;
    --font-size-h2: 3.5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2.5rem;
    --font-size-h5: 2rem;

    --font-size-h1-mobile: 2.5rem;
    --font-size-h2-mobile: 2rem;
    --font-size-h3-mobile: 1.75rem;
    --font-size-h4-mobile: 1.5rem;
    --font-size-h5-mobile: 1.25rem;

    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
}
