:root {
    /* 색상 변수 */
    --primary-color: #6200ea;
    --secondary-color: #03dac5;
    --text-color: #333;

    --app-bar-background-color: #ffffff;
    --background-color: #f5f5f5;

    /* 크기 변수 */
    --app-bar-height-desktop: 64px;
    --app-bar-height-mobile: 56px;
    --padding-default: 16px;

    /* 폰트 크기 */
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
}
