:root {
    /* 크기 변수 */
    --app-bar-height-desktop: 64px;
    --app-bar-height-mobile: 56px;
    --padding-default: 16px;

    /* 폰트 크기 */
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
}
